.signup-container {
  background: #1C2128;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  position: relative;
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 886px;
}

.back-button {
  display: flex;
  position: absolute;
  top: 30px;
  left: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  justify-content: start;
  margin-bottom: 10px;
 
}


.logo img {
  display:flex;
  width: 108px;
  height: 50px;
  justify-content: space-around;
  padding: 15px;
  margin-top: 15px;

}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 29px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 15px;
  margin-left: 0;
  color: #FFFFFF;
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form label,
.signup-form p,
.signup-form .terms,
.signup-form input,
.signup-form button, 
.signup-form a{
  font-family: "Roboto", sans-serif;
  font-weight: 800;

}
.signup-form small {
  font-size: 8px;
  margin-left: 13px;
}


.signup-form label {
  margin-bottom: 0.3rem;
  color: #FFFFFF;
  font-size: 11px;
  margin-left: 13px;
  margin-bottom: 12px;

}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  display: flex;
  padding: 0.4rem 0.6rem;
  margin-bottom: 15px;
  border: 1.5px solid #FFFFFF;
  border-radius: 10px;
  font-size: 11px;
  width: 372px;
  box-sizing: border-box;
  background-color: #1C2128;
  margin-left: 13px;
  
}
.signup-form input:hover {
  width: 375px;
}


.continue-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
   

}
.continue-button button:hover {
  font-size: 24px;
  width: 132px;
  height: 52px;
  margin: 39px
  
}

.continue-button button{
  align-items: center;
  display: flex;
  gap: 0.5rem;
  background: #1C2128;
  border: 2px solid #FFFFFF;
  border-radius: 11px;
  padding-left: 15px;
  padding-bottom: 7px;
  font-size: 23px;
  font-weight: 500;
  width: 130px;
  height: 50px;
  margin: 40px auto;
  cursor: pointer;
  color: #FFFFFF;

}
.continue-button button:hover {
  background: #262b32
  
}


.signup-form small {
  color:#FFFFFF;
  margin-top: -0.8rem;
  margin-bottom: 10px;
  font-size: 8px;
}

.signup-form a {
  margin-top: 40px;
  color:#00A6FF;
  text-decoration: none;
  width: 400px;
}

.signup-form .terms {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
  font-size: 14px;
  justify-content: start;
}
.signup-form .terms input[type="checkbox"] {
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  background-color: #1C2128;

}

.terms-and-conditions a:hover {
  text-decoration: underline;

}

.terms-and-conditions a {
  margin: 20px 252px 0px 7px;
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  color: #00A6FF;
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}



.signup-form .terms input {
  margin-right: 0.3rem;
  font-size: 15px;
}
.login-link:hover{
  text-decoration: underline;
}


.login-link {
  justify-content: center;
  text-align: center;
  display: flex;
  color: #00A6FF;
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  width: 400px;
}

button.google-button,
button.apple-button{
  height: 45px;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  background: #1C2128;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  padding: 12px 0;
  font-size: 17px;
  font-weight: 500;
  width: 310px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;


}

button.google-button img,
button.apple-button img {
  position: absolute;
  left: 45px; 
  width: 28px;
  height: 28px;

}

button.google-button:hover,
button.apple-button:hover {
  background: #262b32;
  
}



