.news-container {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    justify-content: space-between;
}

.ia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ia span {
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


