.news-container {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.back-button {
    width: 44.94px;
    height: 44.94px;

    margin-bottom: 8px;
}

.mnf-logo {
    width: 112px;
    height: 53px;

    margin-left: 80px;
}

.ia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;

    width: 87px;
    height: 36px;

    margin-top: 22px;
}

.ia span {
    color: white;
    margin-bottom: 9px;
}

.menu-button {
    padding-top: 6px;

    margin-top: 10px;
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-head {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.news-image {
    width: 335px;
    height: 214px;

    margin-left: 37px;
    margin-bottom: 10px;
}

.news-title {
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-left: 37px;

    width: 288px;
    height: 48px;
}

.informations {
    display: flex;
    align-items: center;

    font-size: 9px;
    font-weight: 800;

    display: flex;
    justify-content: space-between;
    margin: 15px 37px 20px 37px;
}

.author {
    color: #AEAEAE;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FF9900;
    opacity: 0.6;
    gap: 2px;
}

.time img {
    color: #FF9900;
}

.news-text {
    margin-left: 37px;

    width: 338px;
    height: 414px;

    color: white;
    font-size: 15px;
}

.first-part {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;

    margin-bottom: 15px;
}

.second-part p {
    font-weight: 400;
}

h2 {
    font-weight: 800;
    margin-bottom: 15px;
}

footer {
    display: flex;
    justify-content: space-around;
    
    gap: 10px;
    margin-right: 13px;
}

.home {
    display: flex;
    justify-content: center;

    background: #C7180166;
    border-radius: 30px;

    width: 74px;
    height: 55px;

    position: relative;
    bottom: 10px;
    left: 7px;
}

.share {
    width: 35px;
    height: 35px;

    position: relative;
    left: 8px;
}

.comments {
    width: 35px;
    height: 35px;

    position: relative;
    left: 7px;
    top: 2px;
}

.like {
    width: 35px;
    height: 35px;

    position: relative;
    bottom: 3px;
}

.favorite {
    width: 35px;
    height: 35px;

    position: relative;
    bottom: 5px;
}


