html {
  -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 10px;
    max-width: 430px;
    margin: 0 auto;
    padding: 0 12px;
}

header {
    display: flex;
    justify-content: flex-start;
}

.mnf-logo {
    display: flex;
    margin-left: 75px;
    margin-top: 5px;

    width: 118px;
    height: 41px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    gap: 4px;
}

h1 {
    font-size: 29px;
    font-weight: 800;
    color: white;
    margin-right: 5.83px;
}

.part {
    margin-right: 20px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #404040;

    width: 348px;
    height: 50px;
    border-radius: 16px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.send-comment input {
    background: none;
    margin-right: 80px;

    margin-top: 2px;
    color: white;
    outline: none;
}

.send-comment input::placeholder {
    font-size: 18px;
    color: white;
    opacity: 0.5;
}

.send-comment input:focus::placeholder {
  opacity: 0; 
}

.send-comment .your-user-photo {
    width: 39px;
    height: 39px;

    margin-top: 6px;
    margin-left: 6px;
}

.send-comment button {
    width: 24px;
    height: 24px;

    margin-top: 13px;
    margin-right: 8px;
}

.users-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.comment-box {
    display: flex;
    background: #404040;
    border-radius: 16px;
    flex-direction: column;

    width: 348px;
    height: 140px;
}

.comment-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    color: white;
    padding: 5px 0 0 5px;
    gap: 5px;
    align-items: center;
}

.comment-head img {
    width: 39px;
    height: 39px;

    font-size: 25px;
    font-weight: 400;
}

.comment-text {
    width: 287px;
    height: 40px;

    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;

    padding-left: 49px;;
}

.comment-text span {
    color: #0F87FF;
}

.comment-text p {
    width: 295px;
    height: 40px;
}

.comment-footer {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin-top: 10px;

    padding-left: 49px;
    padding-right: 7px;
}

.time {
    display: flex;
    align-items: center; 
    gap: 5px; 

    font-size: 12px;
}

.time img {
    width: 17px;
    height: 17px;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-actions * {
    width: 26px;
    height: 26px;
}


