*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: #1C2128;
}

.cabecario{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 18px; 
    position: relative; 
}

.cabecario button {
  position: absolute;
  left: 0;
  top: 65%; 
  transform: translateY(-50%); 
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  width: 44px;
  height: 44px;
}

h1{
  margin-top: 29px;
  text-align: center;
  color: #FFFFFF;
  font-size: 29px;
}

h1 img {
  vertical-align: middle; /* mantém o alinhamento com o texto */
  margin-left: 2px; /* cria um pequeno espaço */
  position: relative;
  top: 1px; /* desce um pouco o ícone */
  width: 24px; /* opcional: garante tamanho uniforme */
}


.noticias{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 60px;
    gap: 16px;
}

.noticia {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.imagens-noticias img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.legenda {
    flex: 1;
}

.legenda h2 {
    margin: 0;
    font-size: 20px;
    color: #C71801;
}

.legenda p {
    margin: 10px 0;
    line-height: 1.4;
    color: #FFFFFF;
    font-size: 12px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-size: 9px;
}

.data-hora {
  display: flex;
  align-items: center;
  gap: 4px;
}

.data-hora img {
  width: 15px;
  height: 15px;
}

.data-hora p {
  font-size: 12px;
  color: #ffffff;
}

.botao-inicio{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px;
    background:#1C2128;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.botao-inicio img { 
    width: 57px;
    height: 57px;
}

.botao-inicio button{
    border-radius: 30px;
    width: 75px;
    height: 55px;
    background-color: rgba(199, 24, 1, 0.2);
    border: none;
}
